table {
    background-color: rgb(202, 241, 243);
}

td, th {
    width: 40px;
    height: 40px;
}

.clicked {
    background-color: rgb(142, 142, 142);
}


.disabled {
    background-color: rgb(197, 114, 114);
}
.gr {
    background-color: green;
}

.hit {
    background-color: rgb(202, 35, 35);
}

.missed {
    background-color: white;
}

.colorGuide {
    border: 1px black solid;
    width: 150px;
    padding-left: 20px;
}


.pending {
    background-color: yellow;
}